name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: "Check (${{ matrix.feature }}, ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        feature:
          - v8_0
          - v8_1
          - v8_2
          - v9_0
          - v9_1
          - v10_0
          - v11_0
          - v11_1
          - v12_0
          - v12_1
          - v12_2
          - v13_0
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Cargo check
        run: cargo check -p nvidia-video-codec-sys --no-default-features --features ${{ matrix.feature }}

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: cargo clippy -p nvidia-video-codec-sys --no-default-features --features v13_0 -- -Dwarnings
